.privacy-wrapper {
    display: flex;
    width: 100%;
    flex: 1;

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .content-wrapper {
            display: flex;
            flex-direction: column;
            align-self: center;
            flex: 1;
            max-width: 64rem;
            padding: 1.25rem 2rem;
        }
    }
}

.privacy-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: auto;
    margin: 3rem 0;

    .privacy-header {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    ul {
        padding-inline-start: 1.25rem;
        list-style-type: disc;
    }

    li {
        margin: 1rem 0;
        padding-inline-start: .375rem;
        line-height: 1.25;

        .list-title {
            font-size: 1rem;
            font-weight: 600;
            color: var(--text-primary);
        }

        .list-text {
            font-size: 1rem;
            color: var(--text-secondary);
        }
    }

    li:first-child {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    li:last-child {
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

@media screen and (max-width:40rem) {
    .privacy-wrapper {
        .main-content {
            .content-wrapper {
                padding: 1rem;
            }
        }
    }
}