.article-header {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.article-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .divider {
        width: 100%;
        flex: 1;
        height: 1px;
        border-radius: 9999rem;
        background-color: var(--bg-neutral-200);
    }

    .article-link {
        text-decoration: none;
        user-select: none;
        display: inline-flex;
        gap: 0.5rem;
        align-items: center;
        width: max-content;
        font-size: 1rem;
        color: var(--text-secondary);
        text-transform: uppercase;

        svg {
            width: 1.25rem;
            height: 1.25rem;
            color: var(--text-secondary);
            transition: none;
        }

        &:hover {
            color: var(--text-primary);
        }

        &:hover svg {
            color: var(--text-primary);
            transition: none;
        }
    }
}

.article-item {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.article-text {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    font-size: 1rem;
    line-height: 1.75;
    color: var(--text-secondary);
    text-wrap: pretty;
}