[data-theme="light"] {
    --bg-base-100: #f5f5f5;
    --bg-base-200: #ffffff;
    --bg-neutral-100: #e4e4e4;
    --bg-neutral-200: #d4d4d4;
    --bg-primary: #34d399;
    --bg-error: #f43f5e;
    --text-primary: #161619;
    --text-primary-accent: #161619;
    --text-secondary: #71717a;
    --text-inverse: #f5f5f5;
    --backdrop: #f5f5f5cc;
}

[data-theme="dark"] {
    --bg-base-100: #161619;
    --bg-base-200: #1c1c1f;
    --bg-neutral-100: #27272a;
    --bg-neutral-200: #3f3f46;
    --bg-primary:#34d399;
    --bg-error: #fb7185;
    --text-primary: #f4f4f5;
    --text-primary-accent: #161619;
    --text-secondary: #a1a1aa;
    --text-inverse: #161619;
    --backdrop: #161619cc;
}