.customer-detail-wrapper {
    display: flex;
    width: 100%;
    flex: 1;

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;

        .content-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }
}

.customer-detail-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: auto;

    .customer-detail-header {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 20rem;
        padding: 2rem;

        .customer-hero-content {
            display: flex;
            align-items: center;
            gap: 1.25rem;
        }

        .hero-controls {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .btn-link {
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0.5rem;
                padding-right: 0.75rem;
                border-radius: 9999rem;
                text-decoration: none;
            }

            button {
                svg {
                    height: 1.5rem;
                    width: 1.5rem;
                    color: #18181b
                }
            }
        }

        .customer {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            h2 {
                font-size: 2.5rem;
            }

            .meta-data {
                display: inline-flex;
                align-items: center;
                gap: 0.375rem;
                font-size: 0.75rem;
                color: var(--text-secondary);

                .meta-indicator {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 1.25rem;
                    height: 1.25rem;
                    padding: 0.25rem;
                    border-radius: 9999rem;
                    background-color: var(--bg-primary);
                }

                svg {
                    width: 1rem;
                    height: 1rem;
                    color: #18181b;
                }
            }
        }

        .profile-img {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10rem;
            height: 10rem;
            aspect-ratio: 1/1;
            border-radius: 9999rem;
            background-color: var(--bg-neutral-200);
        }
    }
}

.detail-cards {
    display: flex;
    gap: 1.5rem;
    padding: 0 2rem 2rem 2rem;

    .customer-detail-card {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        padding: 1.25rem;
        border-radius: 1.25rem;
        border: 1px solid var(--bg-neutral-100);
        background-color: var(--bg-base-200);

        .card-title {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            svg {
                width: 1.5rem;
                height: 1.5rem;
                color: var(--text-primary);
            }
        }

        .card-content {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            table {
                width: 100%;
                border-collapse: collapse;
                border-radius: 0.5rem;
                overflow: auto;

                tr {
                    border-bottom: 1px dashed var(--bg-neutral-100);

                    td {
                        padding: 1rem 0;
                        font-size: 0.875rem;
                        font-weight: 400;
                        color: var(--text-secondary);
                    }

                    td:first-child {
                        width: 25%;
                        color: var(--text-primary);
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &:last-child td {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}