.customers-wrapper {
    display: flex;
    width: 100%;
    flex: 1;

    .main-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;

        .content-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 1.25rem 2rem;
        }
    }
}

.customers-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: auto;

    .customers-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .customer-table-wrapper {
        width: 100%;
        border-radius: .75rem;
        border: 1px solid var(--bg-neutral-100);

        .customer-table {
            width: 100%;
            border-collapse: collapse;
        }

        thead {
            tr {
                th {
                    padding: 0.75rem 1.25rem;
                    border-bottom: 2px solid var(--bg-neutral-200);
                    text-align: left;
                    font-size: 0.875rem;
                    font-weight: 600;
                    color: var(--text-secondary);
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 0.75rem 1.25rem;
                    border-bottom: 1px solid var(--bg-neutral-100);
                    text-align: left;
                    font-size: 0.875rem;
                    font-weight: 400;
                    color: var(--text-secondary);
                }

                &:hover {
                    background-color: var(--bg-neutral-100);
                }
            }

            tr:last-child {
                td {
                    border-bottom: unset;
                }
            }
        }
    }
}