.legal-wrapper {
    display: flex;
    width: 100%;
    flex: 1;

    .main-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        width: 100%;

        .content-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            padding: 1.25rem 2rem;
        }
    }
}

.legal-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    height: auto;

    .legal-header {
        display: flex;
        align-items: center;
        height: 2.5rem;
    }
}