<div class="dashboard-wrapper">
    <app-toolbar></app-toolbar>
    <div class="main-content">
        <app-sidebar></app-sidebar>
        <div class="content-wrapper fade-in">
            <div class="dashboard-content">
                <div class="dashboard-header">
                    <h2>Dashboard</h2>
                </div>
                <section class="dashboard-cards">
                    <app-dashboard-simple-card
                        *ngFor="let card of simpleDashboardCards"
                        [title]="card.title"
                        [value]="card.value"
                        [icon]="card.icon">
                    </app-dashboard-simple-card>
                </section>
                <section class="dashboard-cards">
                    <app-dashboard-table-card
                        *ngFor="let card of tableDashboardCards"
                        [title]="card.title"
                        [key]="card.key"
                        [data]="card.data"
                        [icon]="card.icon">
                    </app-dashboard-table-card>
                </section>
            </div>
        </div>
    </div>
</div>